repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.9
    hooks:
      - id: uv-export
        name: main dependencies
        args: [--no-hashes, --no-dev,  --output-file, requirements.txt]
      - id: uv-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--select", "I", "--fix"]
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
